
#root {
  width: 100%;
  min-height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/background.jpg'); /* Kendi resim yolunuzu yazın */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-page-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}